<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: common_head}"></head>

<body>
<div class="w-[393px] min-h-screen bg-white mx-auto flex flex-col">

    <header class="flex w-full h-14 px-3 justify-between items-center flex-shrink-0">
        <div onclick="history.back()" class="cursor-pointer w-12 h-12 flex justify-center items-center rounded-full">
            <div class="w-12 h-12 bg-cover bg-center" th:style="'background-image: url(' + @{/image/button/back.svg} + ');'"></div>
        </div>

        <div class="flex justify-start items-center flex-grow-0 flex-shrink-0 relative gap-1.5">
            <img src="/logo/header-logo.svg" alt="logo" />
        </div>

        <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 w-12 h-12 relative rounded-[99px]">
            <div class="flex-grow-0 flex-shrink-0 w-6 h-6 relative overflow-hidden"></div>
        </div>
    </header>

    <main class="flex flex-col flex-grow">
        <form id="uploadForm" action="/image" method="post" enctype="multipart/form-data">
            <input type="file" id="roomFileInput" name="image" class="hidden" accept="image/*">
        </form>
        <input type="file" id="furnitureFileInput" class="hidden" accept="image/*">
        <div class="p-6">
            <div id="mainImage" class="w-full aspect-square bg-cover bg-center transition-opacity duration-500 ease-in-out rounded-3xl" th:style="'background-image: url(' + @{/image/image_1.png} + ');'"></div>
            <p class="flex-grow-0 flex-shrink-0 text-[13px] font-semibold text-center pt-2 text-black/[0.48]">
                *벽지, 건물 외벽 등도 이용할 수 있어요.
            </p>
        </div>

        <div class="flex flex-col items-center self-stretch gap-6">
            <div id="step1" class="flex flex-col items-center gap-1 transition-opacity duration-500 ease-in-out">
                <div class="flex justify-center items-center w-6 h-6 bg-[#161819] rounded-full">
                    <p class="text-[13px] font-semibold text-white">1</p>
                </div>
                <p class="text-lg font-semibold text-[#161819]">먼저 방 사진을 보여주세요</p>
            </div>

            <div id="step2" class="flex flex-col items-center gap-1 opacity-20 transition-opacity duration-500 ease-in-out">
                <div class="flex justify-center items-center w-6 h-6 bg-[#161819] rounded-full">
                    <p class="text-[13px] font-semibold text-white">2</p>
                </div>
                <p class="text-lg font-semibold text-[#161819]">가구를 방 사진 위에 배치해 주세요</p>
            </div>
        </div>
    </main>

    <footer class="px-12 py-5 flex-shrink-0">
        <button id="nextButton" class="w-full h-12 flex justify-center items-center bg-[#161819] rounded-full
            transition duration-300 ease-in-out
            hover:-translate-y-1
        ">
            <p class="button-text text-[15px] font-semibold text-white">다음으로</p>
        </button>
    </footer>
</div>

<script th:src="@{/js/main.js}"></script>
</body>
</html>
